body {
  font-family: sans-serif;;
}
.grid-conatainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}


/* HEADER ****************************************** */
.header {
  padding: .5em 1em 0;
  grid-area: header;
  color: white;
  display: flex;
  grid-template-columns: 50% 15% 15% 20%;
  background-color: #6c78a6;
}
.header span{
  font-weight: 100;
}
.header h1 {
  font-size: 1.5em;
  flex-grow: 1;
}
#bell {
  width: 30px;
  margin-top: 15px;
  transition: .3s ease;
}
#bell:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.bell-box {
  position: relative;
}
#notifications {
  position: absolute;
  z-index: 99;
  width: 12px;
  height: 12px;
  top: 15px;
  left: 27px;
  border-radius: 50%;
  background-color: lime;
}
.my-profile {
  margin-top: .5em;
  width: 40px;
  border-radius: 50%;
}


/* NAVIGATION ****************************************** */
.navigation {
  grid-area: navigation;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #293047;
}
.navigation a {
  transition: .5s ease;
}
.navigation a:hover {
  background-color: slategrey;
}
.navigation img {
  width: 35px;
  padding: 1em;
  margin: auto;
}

/* MAIN CONTENT ****************************************** */
.main {
  grid-area: main;
  display: grid;
  width: 90%;
  margin: auto;
}

.main-header {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: end;
}
.main-header-search input {
  width: 70%;
  float: right;
}

.alert {
  width: 90%;
  margin: auto;
  padding: 0 1em;
  background-color: lavender;
  border-radius: 10px;
}
.alert p {
  display: inline-block;
}
.alert p:last-child {
  float: right;
  padding: 0 .3em .05em;
  border-radius: 50%;
  border: .5px solid #6c78a6;
  background-color: white;
}
.alert:hover {
  cursor: default;
}

.traffic-header {
  display: grid;
  grid-template-columns: 50% 50%;
}
.traffic-nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style: none;
}

.members-container img {
  border-radius: 50%;
  width: 70px;
  margin-right: 1em;
}

.members-container {
  padding: 1em 2em;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: left;
}

.message,
.settings {
  display: grid;
  grid-template-rows: 20% 40% 40%;
}

.widget-container {
  display: grid;
  grid-template-rows: 50px 100px 50px;
}
input,
textarea,
button,
select {
  margin: 1em;
}

.settings {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
}

.widget-container-full, .widget-container-half {
  width: 95vw;
}



@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header" "header"
      "navigation" "main";
  }

  .main {
    grid-template-columns: 50%;
  }

  .traffic. .social {
    grid-column: 1 / span 2;
  }

  .daily, .members, .message {
    grid-column: 1 / span 1;
  }

  .mobile., .activity, .settings {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}

@media and screen (min-width: 1024px) {

}
