body {
  font-family: sans-serif;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}
input,
textarea {
  background-color: lavender;
  float: right;
}
input:focus,
textarea:focus {
  outline: none;
}

input,
textarea,
button,
select {
  margin: 1em;
}



/* HEADER ****************************************** */
.header {
  width: 100vw;
  padding: .5em 0 0;
  grid-area: header;
  color: white;
  display: flex;
  grid-template-columns: 40% 15% 15% 20%;
  background-color: #6c78a6;
}
.header span{
  font-weight: 100;
}
.header h1 {
  padding-left: .5em;
  font-size: 1.5em;
  flex-grow: 2;
}
.header h4 {
  padding-right: .5em;
}
#bell {
  width: 30px;
  margin-top: 15px;
  transition: .3s ease;
}
#bell:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.bell-box {
  position: relative;
  padding: 0 .6em;
  margin-right: .5em;
}
#notifications {
  position: absolute;
  z-index: 99;
  width: 12px;
  height: 12px;
  top: 15px;
  left: 27px;
  border-radius: 50%;
  background-color: lime;
}
.my-profile {
  margin: .5em .5em 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


/* NAVIGATION ****************************************** */
.navigation {
  grid-area: navigation;
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: #293047;
}
.navigation a {
  transition: .5s ease;
}
.navigation a:hover {
  background-color: slategrey;
}
.navigation img {
  width: 35px;
  padding: 1em;
  margin: auto;
}

/* MAIN CONTENT ****************************************** */
.main {
  grid-area: main;
  display: grid;
}
.traffic,
.daily,
.mobile,
.members,
.activity {
  width: 95%;
  margin: auto;
}
.main-header {
  display: grid;
  width: 98%;
  margin: auto;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: end;
}
.headline {
  font-size: 1.2em;
  padding-left: 10px;
}
.main-header-search input {
  margin: 0;
  border-radius: 1em;
  margin-right: 10px;
}
.main-header-search input:focus {
  width: 80%;
}

.alert {
  font-size: .8em;
  color: white;
  width: 90vw;
  margin: auto;
  padding: 0 .5em;
  background-color: #6c78a6;
  border-radius: 10px;
}
.alert p {
  display: inline-block;
}
.alert p:last-child {
  float: right;
  padding: 0 .3em .05em;
  border-radius: 50%;
  border: .5px solid #6c78a6;
}
.alert:hover {
  cursor: default;
}

.traffic-header {
  width: 200px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.traffic-nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
.traffic-nav-link {
  font-size: .75em;
  margin-left: .5em;
  padding: .5em;
  border-radius: 1em;
}
.traffic-nav-link:hover {
  background-color: orange;
  cursor: pointer;
}

/* SOCIAL CONTENT ****************************************** */
.social-container {
  margin: 1em auto;
  width: 95%;
  max-width: 340px;
}

.social {
  /* width: 100%; */
  margin: 1em 0;
  padding: 1em 0;
  background-color: lavender;
  border: .2px solid #6c78a6;
  border-radius: .5em;
  display: grid;
  grid-template-columns: 30% 70%;
}

.social-image {
  overflow: hidden;
  background-color: #6c78a6;
  border-radius: 50%;
  padding: 1.5em;
  margin-left: .5em;
  width: 50px;
  height: 50px;
}
.social-text {
  margin: 0 auto;
}
.social-text p:first-child {
  color: #6c78a6;
  font-size: 1.5em;
  margin: .5em auto 0;
}
.social-text p:last-child {
  color: #6c78a6;
  font-size: 2.5em;
  margin: .2em auto 0;
}
.social-path {
  color: white;
}


/* MEMBER CONTENT ****************************************** */
.members {
  width: 90%;
}

.members-container {
  width: 100%;
  padding: 1em .5em;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: left;
  margin-bottom: 1em;
}
.mebers-container p:last-child {
  margin-left: auto;
}
.profile-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 1em;
}
.members-text {
  padding-left: 1em;
  font-size: .7em;
}



/* Message Widget ****************************************** */
.widget-container {
  display: grid;
  grid-template-rows: 65px 100px 65px;
}

#userField {
  border: none;
  border-radius: 5px;
  color: grey;
  margin: 0;
  height: 2em;
  padding: .5em;
  margin-bottom: 2em;
}

#messageField {
  border-radius: 5px;
  margin: 0 0 1em;
  padding: 1em .5em;
  border: none;
}
#send {
  margin: 0;
  font-size: 1.5em;
  color: white;
  border-radius: 5px;
  background-color: #6c78a6;
}
.message,
.settings {
  border-top: 2px solid lavender;
  padding-top: 1em;
  width: 95%;
  margin: 0 auto 2em;
  display: grid;
  grid-template-rows: 20% 40% 40%;
}



/* Settings Widget ****************************************** */
.settings {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
}

.toggle-switch p {
 display: inline-block;
 width: 200px;
 padding-right: 2em;
}
.switch {
  font-weight: bold;
  font-size: .75em;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  background-color: grey;
  border-radius: 20px;
  transition: all 0.3s;
  padding-top: .5em;
  padding-left: .5em;
  color: grey;
}
.switch::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius:50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left : 30px;
}
.checkbox:checked + .switch {
  background-color: #6c78a6;
  color: white;
}
.checkbox {
  display : none;
}

#timezone {
  padding-left: .5em;
  color: grey;
  border: 1.5px solid grey;
  border-radius: 5px;
  margin: 12px 0;
  float: left;
  height: 50px;
  width: 100%;
}
.widget-container-full, .widget-container-half {
  width: 95vw;
}

#save,
#cancel {
  height: 65px;
  margin: 1.5em 0 3em;
  padding: 1em 0;
  width: 49%;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
}
#save {
  background-color: #6c78a6;
}
#cancel {
  background-color: grey;
}



/* Media Queries ****************************************** */

@media (min-width: 768px) {

  .grid-container {
    width: 100vw;
    grid-template-columns: 65px 1fr;
    grid-template-areas:  "header header"
                          "navigation" "main";
  }
  .header {
    grid-column: 1 /span 2;
  }
  .navigation {
    display: inline;
    grid-column: 1 /span 1;
    grid-row: 2 /span 2;
    width: 65px;
    height: 100%;
  }
  .navigation a:hover {
    border-left: 10px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
  }
  .alert {
    max-width: 680px;
    margin-left: 1.5em;
  }
  .main {
    grid-column: 2 /span 2;
    grid-row: 2 /span 2;
    grid-template-columns: 50%;
  }
  .main-header {
    grid-column: 1 /span 2;
  }
  .traffic {
    grid-column: 1 /span 2;
  }
  .daily,
  .members,
  .message {
    grid-column: 1 /span 1;
  }
  .mobile,
  .activity,
  .settings {
    grid-column: 2 /span 1;
  }

  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
  .social-container {
    margin: 1em auto;

    display: grid;
    grid-auto-flow: column;
    grid-column: 1 /span 2;
    max-width: 740px;
  }
  .social {
    display: grid;
    width: 90%;
    grid-template-columns: 50% 50%;
  }
  .social-image {
    width: 20px;
    height: 20px;
  }
  .social-text p:first-child {
    font-size: 1em;
    margin: .5em auto 0;
  }
  .social-text p:last-child {
    font-size: 2em;
    margin: .2em auto 0;
  }
}
